{% extends "productos/layout.html" %}

    {% block body %}      

        <h3>Nuestra Empresa</h3>
        <div class="alert alert-info" role="alert">
        <p>Esta es una empresa argentina enfocada al comercio electrónico. En la página, los usuarios pueden ver el catálogo de productos disponibles y sus correspondientes ofertas, realizar compras o ponerlos en el carrito de la compra para ver todos los productos seleccionados, o consultar o contactar con el propietario para registrarse, donde se le pedirá al usuario que proporcione información básica. datos para proceder registrados.
Ayudamos a crear experiencias de marketing que combinan a los clientes con procesos y tecnologías para lograr métodos efectivos que tienen un impacto positivo en los objetivos comerciales.
Trabajamos contigo para explorar, promover y mejorar tus proyectos. Nos inspira una gran misión: ayudarte a realizar tus sueños creando experiencias digitales de alta calidad, agregando valor a tu empresa y teniendo un impacto significativo en su entorno. Excelente diseño y desarrollo de software para crear el futuro.</p>
         </div>
    {% endblock %}

